<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN competence</h5>
		
		<table>
			<tr>
				<td>Id : </td><td>{{competence.id}} </td>
			</tr>
			<tr>
				<td>Code : </td><td>{{competence.code}}</td>
			</tr>
			<tr>
				<td>Libellé : {{competence.libelle}}</td>
			</tr>	
			<tr>
				<td>Nb max étudiants : {{competence.nbEtudiantMax}}</td>
			</tr>	
		</table>
	
	 
    </body>
</html>
